mixin dateInput()
  .form-group
    +inputLabel()(
      for=$name,
      name=$name,
      required=$required,
    )
    input.form-control(
      class=($error ? 'is-invalid' : null),
      id=$name,
      name=$name,
      pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"
      placeholder=$placeholder,
      type="date",
      value=$value,
      pattern=""
    )
    +inputFeedback()(error=$error)
