mixin emailInput()
  .form-group
    +inputLabel()(
      for=$name,
      name=$name,
      required=$required,
    )
    input.form-control(
      autofocus=(empty($autofocus) ? null : 'autofocus'),
      class=($error ? 'is-invalid' : null),
      id=$name,
      name=$name,
      placeholder=$placeholder,
      type="email",
      required=($required ? 'required' : null),
      value=$value
    )
    +inputFeedback()(error=$error)
