mixin passwordInput()
  .form-group.has-error
    +inputLabel()(
      for=$name,
      name=$name,
      required=$required,
    )
    input.form-control(name=$name, type="password", id=$name, placeholder=$placeholder, class=$error ? 'is-invalid' : null)
    +inputFeedback()(error=$error)
