body {
  padding-bottom: 3rem;
}

h1:last-child,
h2:last-child,
h3:last-child,
p:last-child {
  margin-bottom: 0;
}

.nav-pills .nav-item {
  margin-right: 0.5rem;
}

.nav-pills .nav-item:last-child {
  margin-right: 0;
}

.filter-status .badge,
.tag-list .badge {
  margin-right: 0.25rem;
}

.filter-status .badge:last-child,
.tag-list .badge:last-child {
  margin-right: 0
}

.task-detail-list {
  max-width: 500px;
}

.task-status-icons .badge {
  margin-right: 0.25rem;
}

.task-status-icons .badge:last-child {
  margin-right: 0;
}

.task-status-icons .task-badge-icon {
  height: 20px;
  padding: 0;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
}

.task-status-icons .task-badge-icon .fa-clock-o,
.task-status-icons .task-badge-icon .fa-archive {
  left: 0.5px;
  position: relative;
}

.task-status-icons .task-badge-icon .fa-clock-o {
  top: 0.25px;
}

.change {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

li:last-child .change {
  margin-bottom: 0;
}

.change .badge {
  align-items: center;
  box-sizing: content-box;
  justify-content: center;
  display: inline-flex;
  height: 24px;
  margin-right: 0.25rem;
  padding: 0;
  position: relative;
  vertical-align: top;
  width: 24px;
}

textarea {
  min-height: 140px;
}

blockquote {
  border-left: 5px solid rgba(0,0,0,.25);
  margin: 1rem 0;
  padding: 0.5rem 0.75rem;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:first-child {
  margin-top: 0;
}

blockquote:last-child {
  margin-bottom: 0;
}

blockquote:before,
blockquote:after {
  color: #ccc;
  font-size: 2rem;
  line-height: 0.1rem;
  position: relative;
  top: 0.35rem;
}

blockquote:before {
  content: '\201D';
  margin-right: 0.1rem;
}

blockquote:after {
  content: '\201C';
  margin-left: 0.1rem;
}

blockquote p {
  display: inline;
}

.task-comment.highlight {
  box-shadow: 0 0 20px #d4edda;
}
.task-comment.highlight .card-body {
  background: rgba(212, 245, 218, .25);
}

@keyframes letters {
  from,to {transform: scale(1);}
  50% {transform: scale(1.4);}
}

.navbar-brand span {
  animation-duration: .4s;
  animation-name: letters;
  display: inline-block;
}

.navbar-brand .letter-2 {
  animation-delay: 0.2s;
}
.navbar-brand .letter-3 {
  animation-delay: 0.4s;
}
.navbar-brand .letter-4 {
  animation-delay: 0.6s;
}
.navbar-brand .letter-5 {
  animation-delay: 0.8s;
}
.navbar-brand .letter-6 {
  animation-delay: 1.0s;
}
.navbar-brand .letter-7 {
  animation-delay: 1.2s;
}
.navbar-brand .letter-8 {
  animation-delay: 1.4s;
}
.navbar-brand .letter-9 {
  animation-delay: 1.6s;
}
.navbar-brand .letter-10 {
  animation-delay: 1.8s;
}
