extends layouts/master

include partial/datetime.pug

block body
  .container
    h1 Totodo

    p
      = 'Totodo [:tu-tu-dů:] is a tiny task manager that helps you keep track of everyday tasks in small teams.'
      if !$user
        =' You might want to '
        a(href=$router->getUrl('login')) login
        . To be able to perform usual tasks.

    hr

    .row
      .col-lg-6
        .mb-4
          h2.mb-3 Recent tasks
          ul.list-unstyled
            each $task in $recentTasks
              li
                include tasks/list-item.pug

        .mb-4
          h2.mb-3 Activity
          .weekly-changes

      .col-lg-6.d-print-none
        h2.mb-3 Recent history
        ul.list-unstyled
          each $change in $recentHistory
            li
              include tasks/change.pug
