extends ../layouts/master.pug

include ../partial/datetime.pug
include ../partial/list-value.pug
include ../partial/more.pug

block title
  =$userDetail->name

block body
  .container
    h1.mb-3
      =$userDetail->name

    .task-detail-menu.mb-3.d-print-none
      if $user && $user->hasPerm('manage-users') && $user->id !== $userDetail->id
        include detail-menu-admin.pug
      elseif $user && $user->id == $userDetail->id
        include detail-menu-self.pug
      .btn-toolbar
      hr

    if $message == 'changed'
      .alert.alert-success Changes were successfully saved.
    if $message == 'changed-password'
      .alert.alert-success Password was successfully changed.
    if $message == 'created'
      .alert.alert-success User was successfully created.

    .card.mb-4
      .card-body
        h2.card-title User details

      ul.list-group.list-group-flush
        li.list-group-item
          +listValue()(label='E-mail', empty=!$userDetail->email)
            =$userDetail->email
        li.list-group-item
          +listValue()(label='Roles', empty=(sizeof($userDetail->getRoleNames()) === 0))
            =implode(', ', $userDetail->getRoleNames())
        li.list-group-item
          +listValue()(label='Created at')
            +datetime(datetime=$userDetail->createdAt)
        li.list-group-item
          +listValue()(label='Last login', empty=!$userDetail->lastLogin)
            +datetime(datetime=$userDetail->lastLogin)

    .row
      .col-lg-6.mb-4
        h2.mb-3 Users tasks

        if $userTasks
          .list-group.mb-3
            each $task in $userTasks
              include ../tasks/list-item.pug
          +more(
            href=$router->getUrl($user && $user->id === $userDetail->id ? 'self:tasks' : 'user:tasks', $request->getParams()),
            total=($userTasksTotal),
            max=($userTasksMax),
          )
        else
          .alert.alert-info
            |User has no assigned tasks

      .col-lg-6
        h2.mb-3 Recent changes

        if $recentHistory
          each $change in $recentHistory
            include ../tasks/change.pug
        else
          .alert.alert-info
            |User has no recorded history yet
