.btn-group
  a.btn.btn-outline-secondary(
    href=$router->getUrl('user:edit', ['userId' => $userDetail->id]),
  ) Edit Profile
  a.btn.btn-outline-secondary(
    href=$router->getUrl('user:password', ['userId' => $userDetail->id]),
  ) Change Password
  a.btn.btn-outline-secondary.btn-delete(
    href=$router->getUrl('user:delete', ['userId' => $userDetail->id]),
  ) Delete
