extends ../layouts/master.pug

include ../inputs/mixins.pug

block title
  ='Create user'

block body
  .container
    h1.mb-3=($userItem ? 'Edit user' : 'Create user')

    .card
      .card-body
        form.edit-user(method="post")
          :csrfTokenField
          +textInput()(
            autofocus=true,
            error=$errors['name'],
            label="Name",
            name='name',
            placeholder="User full name",
            required=true,
            value=$values['name'],
          )
          +emailInput()(
            autofocus=true,
            error=$errors['email'],
            label="Email",
            name='email',
            required=true,
            value=$values['email'],
          )
          +checkboxGroup()(
            label="Roles",
            name="roles",
            options=$roleOptions,
            value=$values['roles'],
          )
          button.btn.btn-primary(type="submit")=($userItem ? 'Save changes' : 'Create user')
          hr
          include ../partial/form-required-fields.pug
