extends ../layouts/master.pug


include ../partial/datetime.pug

block title
  ='Users'

block body
  .container
    h1.mb-3='Users'

    if $message == 'deleted'
      .alert.alert-success User was successfully deleted.

    if $users
      .list-group.mb-3
        each $userItem in $users
          include list-item.pug
    else
      .alert.alert-info
        p There are no users that would fit your search criteria. Go ahead and
          =' '
          a(href=$router->getUrl('user:create', $urlParams)) create one
          ='!'


    include ../partial/pagination.pug
