$itemClassName = null

a.list-group-item.list-group-item-action(
  class=$itemClassName,
  href=$router->getUrl('user:detail', ["userId" => $userItem->id])
)
  .d-flex.w-100.justify-content-between
    =$userItem->name
  .d-flex.w-100.justify-content-between
    span.small
      $roles=$userItem->getRoleNames()
      =implode(', ', $roles)
    span.small.text-muted
      ='Created on '
      +datetime(datetime=$userItem->createdAt)
