$page = 1;

.d-print-none
  if $paginateTotalPages > 1
    nav(aria-label="Page navigation example")
      ul.pagination.justify-content-center
        li.page-item(
          class=($paginatePage <= 1 ? 'disabled' : null)
        )
          a.page-link(
            href=$router->getUrl($paginateBaseUrl, $urlParams, ['toggle' => ['page' => $paginatePrevPage]])
            aria-label="Previous"
          )
            span(aria-hidden="true") &laquo;
            span.sr-only Previous
        while $page <= $paginateTotalPages
          li.page-item(
            class=($paginatePage == $page ? 'active' : null)
          )
            a.page-link(
              href=$router->getUrl($paginateBaseUrl, $urlParams, ['toggle' => ['page' => $page]])
            )=$page++
        li.page-item(
          class=($paginatePage >= $paginateTotalPages ? 'disabled' : null)
        )
          a.page-link(
            href=$router->getUrl($paginateBaseUrl, $urlParams, ['toggle' => ['page' => $paginateNextPage]])
            aria-label="Next"
          )
            span(aria-hidden="true") &raquo;
            span.sr-only Next

  p.text-center
    ='Showing '.$paginateShownItems.' of total '.$paginateTotalItems.' found'
