extends ../layouts/master.pug

include ../partial/datetime.pug
include ../inputs/mixins.pug

block title
  ='Assign task'

block body
  .container
    h1.mb-3 Assign task

    include summary.pug

    hr

    .card.mb-3
      .card-body
        form(action=$router->getUrl('task:assign', ['taskId' => $task->id]) method="post")
          :csrfTokenField
          +selectInput()(
            autofocus=true,
            error=$errors['assigned'],
            label="User",
            name='assigned',
            placeholder="Unassigned",
            options=$userOptions,
            value=$values['assigned'],
          )
          button.btn.btn-primary(type="submit") Assign
