mixin taskLink()
  a(href=$router->getUrl('task:detail', ['taskId' => $taskId]))=$name

mixin userLink()
  a(href=$router->getUrl('user:detail', ['userId' => $user->id]))=$user->name

mixin userNameLink()
  a(href=$router->getUrl('user:detail', ['userId' => $id]))=$name

mixin taskIcon()
  span.badge.badge-pill(class='badge-'.$severity)
    span.fa.fa-fw(class='fa-'.$icon)

$currentState = $change->currentState
$previousState = $change->previousState

.change
  if ($change->type == \Totodo\Model\TaskChange::ACTION_CREATE)
    +taskIcon(severity='info', icon='plus')
    =' '
    +userLink(user=$change->author)
    =' created task '
    +taskLink(taskId=$change->taskId, name=$currentState['name'])

  if ($change->type == \Totodo\Model\TaskChange::ACTION_ARCHIVE)
    +taskIcon(severity='warning', icon='archive')
    =' '
    +userLink(user=$change->author)
    =' archived task '
    +taskLink(taskId=$change->taskId, name=$currentState['name'])

  if ($change->type == \Totodo\Model\TaskChange::ACTION_CHANGE_ASSIGN)
    if empty($previousState['assignedId']) && !empty($currentState['assignedId'])
      +taskIcon(severity='info', icon='user')
      =' '
      +userLink(user=$change->author)
      =' assigned task '
      +taskLink(taskId=$change->taskId, name=$currentState['name'])
      =' to '
      +userNameLink(id=$currentState['assignedId'], name=$currentState['assignedName'])
    elseif !empty($previousState['assignedId']) && empty($currentState['assignedId'])
      +taskIcon(severity='secondary', icon='user')
      =' '
      +userLink(user=$change->author)
      =' unassigned '
      +userNameLink(id=$previousState['assignedId'], name=$previousState['assignedName'])
      =' from task '
      +taskLink(taskId=$change->taskId, name=$currentState['name'])
    elseif !empty($previousState['assignedId']) && !empty($currentState['assignedId'])
      +taskIcon(severity='info', icon='user')
      =' '
      +userLink(user=$change->author)
      =' reassigned task '
      +taskLink(taskId=$change->taskId, name=$currentState['name'])
      =' from '
      +userNameLink(id=$previousState['assignedId'], name=$previousState['assignedName'])
      =' to '
      +userNameLink(id=$currentState['assignedId'], name=$currentState['assignedName'])
    else
      +taskIcon(severity='secondary', icon='user')
      =' '
      +userLink(user=$change->author)
      =' changed assignation of task '
      +taskLink(taskId=$change->taskId, name=$currentState['name'])

  if ($change->type == \Totodo\Model\TaskChange::ACTION_COMMENT)
    +taskIcon(severity='info', icon='comment')
    =' '
    +userLink(user=$change->author)
    =' commented on task '
    +taskLink(taskId=$change->taskId, name=$currentState['name'])

  if ($change->type == \Totodo\Model\TaskChange::ACTION_UNARCHIVE)
    +taskIcon(severity='secondary', icon='archive')
    =' '
    +userLink(user=$change->author)
    =' unarchived task '
    +taskLink(taskId=$change->taskId, name=$currentState['name'])

  if ($change->type == \Totodo\Model\TaskChange::ACTION_CHANGE_STATUS)
    if ($currentState['status'] == 'Done')
      +taskIcon(severity='success', icon='check')
      =' '
      +userLink(user=$change->author)
      =' finished '
      +taskLink(taskId=$change->taskId, name=$currentState['name'])

    elseif ($previousState['status'] == 'Open' && $currentState['status'] == 'In Progress')
      +taskIcon(severity='secondary', icon='play')
      =' '
      +userLink(user=$change->author)
      =' started progress on '
      +taskLink(taskId=$change->taskId, name=$currentState['name'])

    else
      +taskIcon(severity='secondary', icon='info')
      =' '
      +userLink(user=$change->author)
      =' changed status of '
      +taskLink(taskId=$change->taskId, name=$currentState['name'])
      =' from '
      =$previousState['status']
      =' to '
      =$currentState['status']

  if ($change->type == \Totodo\Model\TaskChange::ACTION_CHANGE)
    +taskIcon(severity='secondary', icon='edit')
    =' '
    +userLink(user=$change->author)
    |  updated
    =' '
    +taskLink(taskId=$change->taskId, name=$currentState['name'])

  ='. '
  span.text-muted
    +datetime()(datetime=$change->createdAt)
