extends ../layouts/master.pug

include ../partial/datetime.pug
include ../inputs/mixins.pug

block title
  ='Comment task'

block body
  .container
    h1.mb-3 Comment task

    include summary.pug

    hr

    .card.mb-3
      .card-body
        form.edit-comment(
          action=$router->getUrl('task:comment', ['taskId' => $task->id]),
          method="post",
        )
          :csrfTokenField
          +textareaInput()(
            autofocus=true,
            error=$errors['text'],
            label="Your comment",
            name='text',
            placeholder="Please avoid rude words",
            required=true,
            value=$values['text'],
          )
          button.btn.btn-primary(type="submit") Comment

    if $replyTo
      h2.mb-3 In reply to
      .list-group
        .list-group-item
          $comment = $replyTo
          include comment.pug
