.card.mb-2.task-comment(class=(!empty($commentHighlight) && $commentHighlight == $comment->id ? 'highlight' : null))
  .card-body
    .task-comment-text
      !=Parsedown::instance()->setMarkupEscaped(true)->text($comment->text)
  .card-footer.task-comment-footer
    span.task-comment-author
      strong=$comment->author->name
    =' | '
    span.text-muted
      +datetime()(datetime=$comment->createdAt)
      =' | '
      a(
        href=$router->getUrl('task:comment', ['taskId' => $comment->taskId, 'replyTo' => $comment->id])
      ) Reply
