extends ../layouts/master.pug

include ../partial/datetime.pug

block body
  .container
    h1.mb-3 Task comments

    include summary.pug

    hr

    each $comment in $comments:
      include comment.pug
