if $user
  .task-detail-menu.mb-3.d-print-none
    .btn-toolbar
      .btn-group
        if $task->archived
          a.btn.btn-outline-secondary(
            href=$router->getUrl('task:status:unarchive', ['taskId' => $task->id]),
            title="Archived Tasks cannot be changed",
          ) Unarchive task
        else
          a.btn.btn-outline-secondary(
            href=($router->getUrl('task:comment', ['taskId' => $task->id])),
          ) Comment
          a.btn.btn-outline-secondary(
            href=($router->getUrl('task:assign', ['taskId' => $task->id])),
          ) Assign
          a.btn.btn-outline-secondary(
            href=($router->getUrl('task:edit', ['taskId' => $task->id])),
          ) Edit
          .btn-group
            button.btn.btn-outline-secondary.dropdown-toggle(
              data-toggle="dropdown",
              aria-haspopup="true",
              aria-expanded="false",
              id="taskStatusMenu",
              title="Change Task status",
            )=$task->status->name
            .dropdown-menu(aria-labelledBy="taskStatusMenu")
              each $status in $statusList
                a.dropdown-item(
                  class=($task->status->id == $status->id ? 'active' : null),
                  href=($router->getUrl('task:status:change', ['taskId' => $task->id, 'statusId' => $status->id])),
                )=$status->name
          if $task->status->name === 'Done'
            a.btn.btn-outline-secondary(
              href=$router->getUrl('task:status:archive', ['taskId' => $task->id]),
              title="Archived Tasks cannot be changed",
            ) Archive task
    hr
