extends ../layouts/master.pug

include ../partial/datetime.pug

block title
  ='Tasks'

block body
  .container
    h1='Tasks'

    .filter.mb-3
      ul.nav.nav-pills.justify-content-center
        include filter-dropdown-status.pug
        include filter-dropdown-tags.pug

      if $filterTags || $filterStatus
        hr
        .filter-status
          if $filterStatus
            a.badge.badge-link.badge-secondary(
              href=$router->getUrl($view->getRouteName(), $urlParams, ['remove' => ['status', 'page']])
            )=$filterStatus->name
          each $tag in $filterTags
            a.badge.badge-link.badge-secondary(
              href=$router->getUrl($view->getRouteName(), $urlParams, ['toggleArray' => ['tags' => $tag->id], 'remove' => ['page']])
            )=$tag->name

    if $tasks
      .list-group.mb-3
        each $task in $tasks
          include list-item.pug
    else
      .alert.alert-info
        p There are no tasks that would fit your search criteria. Go ahead and
          =' '
          a(href=$router->getUrl('task:create', $urlParams)) create one
          ='!'


    include ../partial/pagination.pug
